/*setting the div to have a display of grid */
.grid-container{
    display: grid;
}
#item1{
    background-color: aquamarine;
    grid-area: one;
}
#item2{
    background-color: blue;
    grid-area: two;
}
#item3
background-color: crimson;
grid-area: three;

}
#item4{
    background-color: chocolate;
    grid-area: four;
}
#item5{
    background-color: cadetblue;
    grid-area: five;
}